.bg {
    background-image: url("https://wallpaperaccess.com/full/1216690.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.btn-primary {
    background-color: #454245 !important;
    border-color: #454245 !important;
}

.btn-primary:hover {
    background-color: #2b2a2b !important;
    border-color: #2b2a2b !important;
}

.btn-secondary {
    background-color: #ad0302 !important;
    border-color: #ad0302 !important;
}

.btn-secondary:hover {
    background-color: #690202 !important;
    border-color: #690202 !important;
}

p {
    color: #454245;
}

/* Form data */
.form-submissions {
  height: 100%;
  background-color: #2b2a2b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-submissions h2 {
  padding: 0 25px;
  font-size: 32px;
  text-align: initial;
  margin: 32px 0;
  color: #fff;
  text-transform: uppercase;
}

.form-container {
  border-radius: 10px 10px 0 0;
  height: 400px;
  width: 80%;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow: scroll;
  margin: 0 auto;
}

.form-data {
  padding: 25px 0;
}

.form-titles {
  display: flex;
  padding: 0 25px;
}

.form-titles > h4 {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-info {
  position: relative;
  padding: 20px 25px;
  border-bottom: 1px solid #2b2a2b;
  display: flex;
  gap: 16px;
  cursor: pointer;
  transition: 500ms ease all;
}

.form-info:hover {
  background-color: #690202;
  border-color: transparent;
  color: #fff;
}

.form-info span {
  flex: 1;
}